extends layout 
block content 

    h1 Title: #{book.title}
        p Author:
            a(href=book.author.url) #{book.author.name}
        p Summary: #{book.summary} 
        p ISBN: #{book.isbn}
        p Genre: #{book.genre.name}



    each val,index in book.genre

            a(href = val.url) #{val.name}
  
            if index < book.genre.length - 1
  
                p No hay libros